@model System.Net.IPAddress
@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="ThrowException" asp-controller="Home">Throw Exception</a>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>@Model.MapToIPv4().ToString()</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>