@model List<BookViewModel>

<h2>Books</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Borrow</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>
                    @if (book.IsBorrowed)
                    {
                        <span>Not Available</span>
                    }
                    else
                    {
                        <form  method="post" asp-action="Borrow">
                            <input type="hidden" name="bookId" value="@book.Id" />
                            <button type="submit" class="btn btn-primary">Borrow</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>