@model List<ExceptionLog>

<table class="table">
    <thead>
    <tr>
        <th>Time</th>
        <th>Message</th>
        <th>StackTrace</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var ex in Model)
    {
        <tr>
            <td>@ex.DateCreate</td>
            <td><p>@ex.Message</p></td>
            <td><p style="overflow: scroll; width: 300px;height: 300px">@ex.StackTrace</p></td>
        </tr>
    }
    </tbody>
</table>